* {
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  height: 100vh;
  width: 1000px;
  display: grid;
  grid-template-rows: 100px 1fr;
}

@media (max-width: 1000px) {
  .App {
    width: 100vw;
  }
}

.LoadingScreen {
  background-color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: visible;
}

.LoadingScrContent {
  pointer-events: none;
}

.ReactLogo {
  height: 40vmin;
  pointer-events: none;
}

.LoadingComment {
  color: rgb(70, 200, 240);
}

@media (prefers-reduced-motion: no-preference) {
  .ReactLogo {
    animation: React-logo-spin infinite 3s linear;
  }
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Hidden {
  display: none;
}

.UpperMenu {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  align-items: flex-end;
}

.TopMenuButton {
  text-align: left;
}

.LoginInfo {
  text-align: right;
}

.MainPage {
  display: grid;
  grid-template-rows: 1fr 1fr;
}